.token {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  display: inline-block;
}

.copy-icon {
  width: 15px;
  height: 15px;
}

.rectangle {
  background: #5100FF;
}

.small-line {
  line-height: 0.1;
}

.nav-tabs>.nav-item>.active {
  background-color: #F2F1F1;
}

.nav-link {
  color: none;
  border: 0;
}

body {
  padding: 0;
  margin: 0;
  background-color: #F2F1F1;;
  color: #1d2733;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  min-height: 100vh;
  line-height: 21px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.maintitle {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 40px
}

/* Dark mode styling */
.white-content {
  background: #292929;
  color: #F2F1F1
}

.footer {
  background-color: #1D2733;
  width: 100%;
  margin-top: auto;
  color: white;
  position: fixed;
  bottom: 0;
}


.img-footer {
  width: 100px
}

/* Card Styling */
.card {
  width: 100%;
  margin-bottom: 5px;
  padding-left: 0;
}

.card-header {
  background-color: transparent;
}

.mobile-nav-card {
  display: none;
}

.mobile-info-card {
  display: none;
}

.card-author {
  font-size: small;
}

.card-status {
  font-size: small;
  background-color: #5100FF;
  border-radius: 15px;
  color: white;
  font-weight: bold;
  padding: 5px
}

.card-author b {
  color: #5100FF
}

.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}

.card-bottom-images img {
  width: 20px;
  margin-right: 15px;
}

.nav {
  border-bottom: 0px
}

/* Button Styling */
.contact-btn {
  background-color: #5100FF;
  color: #ffffff;
  border-color: #5100FF
}

.gear-button {
  background-color: transparent;
  border: 0;
}

.connect-button {
  font-weight: bold;
  background-color: #F65925;
  color: #ffffff;
  border-color: #F65925
}

.submit-button {
  background-color: #5100FF;
  color: #ffffff;
  border-color: #5100FF;
  border-radius: 5px;
}

.formNav-button{
  background-color: #5100FF;
  color: #ffffff;
  border-color: #5100FF;
  border-radius: 5px;
  font-weight: 700;
  margin-bottom: 10px;
  min-width: 130px;
}

.btn {
  padding-left: 20px;
  padding-right: 20px;
}

.btn:hover {
  border-color: #F65925;
  color: black;
  border-radius: 5px;
}

.active {
  background-color: white;
  border-radius: 5px;
}

.tabHeaderButtons {
  background-color: none;
  color: white;
  border-radius: 5px;
  border-color: white;
  border-style: solid;
  padding-right: 40px;
  padding-left: 40px;
  margin-right: 15px;
  font-weight: 600;
}

.tabHeaderButtons:hover {
  background-color: none;
  border-radius: 5px;
  color: white;
}

.pageLinks {
  color: black
}

.pageLinks:hover {
  border-color: #F65925;
  color: #F65925;
  border-radius: 5px;
}

.account-connect-button {
  font-size: small;
  background-color: transparent;
  border-radius: 15px;
  color: #F65925;
  border-color: #F65925;
  font-weight: bold;
  padding: -5px
}

.account-connect-button:hover {
  background-color: #009a2c;
  border-color: white;
  color: white;
  border-radius: 15px;
}

.generate-new-token-button {
  font-size: small;
  background-color: transparent;
  border-radius: 15px;
  color: #F65925;
  border-color: #F65925;
  font-weight: bold;
  padding: -5px
}

.generate-new-token-button:hover {
  background-color: red;
  border-color: white;
  color: white;
  border-radius: 15px;
}

.disconnect-btn {
  font-size: small;
  border-radius: 15px;
  background-color: #5100FF;
  border-radius: 15px;
  color: white;
  border-color: #5100FF;
  font-weight: bold;
}

.disconnect-btn:hover {
  background-color: #eb1111;
  border-color: white;
  color: white;
  border-radius: 15px;
}

.buttonAnime {
  position: relative;
  user-select: none;
  text-decoration: none;
  cursor: pointer;
  transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  /* Safari */
}

.buttonAnime:hover {
  transition-duration: 0.2s;
}

.buttonAnime:after {
  /* content: ""; */
  display: block;
  position: absolute;
  border-radius: 4em;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.5s;
  box-shadow: 0 0 5px 10px black;
}

.buttonAnime:active:after {
  box-shadow: 0 0 0 0 white;
  position: absolute;
  border-radius: 4em;
  left: 0;
  top: 0;
  opacity: 0.7;
  transition: 0s;
}

.buttonAnime:active {
  top: 1px;
}

/* Header Styles */

.headerLinks {
  width: 35%;
  font-size: 16px;
  display: flex;
  justify-content: space-evenly;
}

.eth-account {
  background-color: #FFD6C9;
}

.form-container {
  max-width: 60%;
  position: relative;
}

.fetch-container {
  max-width: 60%;
  position: relative;
}

.custom-stake-tab-width {
  padding: 100px;
}

.custom-balance-tab-width {
  padding-right: 10px;
  padding-left: 10px;
}

.select-button {
  background-color: white;
  border-radius: 5px;
  border-style: solid;
  border-color: black;
  font-weight: 700;
  width: 30%;
}

.mobile-ext {
  display: none
}

@media print,
screen and (max-width: 1400px) {
  .form-container {
    max-width: 80%;
  }

  .headerLinks {
    width: 50%;
    font-size: 90%;
    display: flex;
    justify-content: space-evenly;
  }
}

@media print,
screen and (max-width: 1100px) {
  .form-container {
    max-width: 100%;
  }

  .select-button {
    width: 65%
  }

}

@media screen and (max-width: 912px) {

  .mobile-tabheader {
    font-size: 14px;
  }

  .tabHeaderButtons {
    padding-right: 30px;
    padding-left: 30px;
  }

  .custom-stake-tab-width {
    padding: 20px;
  }

  .form-container {
    max-width: 100%;
  }

  .headerLinks {
    width: 100%;
    font-size: 90%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 25px;
  }
}

@media screen and (max-width:575px) {
  /* Footer styles */

  .placement-position {
    text-align: center;
  }

  .desktop-ext {
    display: none
  }

  .mobile-button {
    font-size: 10px;
  }

  .mobile-ext {
    display: block
  }

  .mobile-bigButton {
    font-size: 12px;
  }

  .tabHeaderButtons {
    padding-right: 20px;
    padding-left: 20px;
  }

  .bottom {
    bottom: -30%;
    margin-top: 20px;
    position: relative;
  }

}


@media screen and (max-width:500px) {
  .select-button {
    width: 70%
  }

  .swal2-footer {
    font-size: 70% !important;
  }

  .tiny-mobile-ext {
    font-size: 80%;
  }
}


@media print,
screen and (max-width: 420px) {

  .body {
    position: relative;
  }

  .headerLinks {
    width: 100%;
    font-size: 80%;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 5px;
  }

  .account-info {
    font-size: 10px;
    font-weight: 500;
    margin-bottom: 20px;
  }

  /* Button styles */

  .metamask-button {
    margin-bottom: 20px;
  }

  /* Form Styles */

  .form-container {
    max-width: 100%;
  }

  .form-headers {
    font-size: 80%;
  }

}

@media screen and (max-width: 342px) {
  .mobile-button {
    font-size: 8px;
  }

  .mobile-bigButton {
    font-size: 10px;
  }

  .tabHeaderButtons {
    padding-right: 10px;
    padding-left: 10px;
  }
}

@media screen and (max-width: 300px) {
  .account-info {
    font-size: 9px;
    font-weight: 500;
  }

  .mobile-button {
    font-size: 10px;
  }

  .mobile-bigButton {
    font-size: 10px;
  }

  .tabHeaderButtons {
    padding-right: 10px;
    padding-left: 10px;
  }

  .tiny-mobile-ext {
    font-size: 7px;
  }

  .swal2-footer {
    font-size: 50% !important;
  }

  .headerLinks {
    font-size: 10px;
  }

  .select-button {
    width: 90%
  }

  .form-container {
    max-width: 100%;
    font-size: 10px;
  }
}