name: avn lowering dapp docker image

on:
  push:
    branches: [master, feat/*, bug/*]
  pull_request:
    branches:
      - master

env:
  ECR_REPO_URL: 189013141504.dkr.ecr.eu-west-2.amazonaws.com/dapps/avn-lowering-dapp

jobs:
  build-lowering-dapp:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Build the build-lowering-dapp Docker image
        run: docker build . --tag $ECR_REPO_URL:${GITHUB_SHA::7}
      - name: Configure AWS credentials from TestNet
        if: github.event_name == 'push'
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.TESTNET_AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.TESTNET_AWS_SECRET_ACCESS_KEY }}
          aws-region: eu-west-2
      - name: Build latest tag (only on master)
        if: github.ref == 'refs/heads/master' && github.event_name == 'push'
        run: |
          docker tag $ECR_REPO_URL:${GITHUB_SHA::7} $ECR_REPO_URL:latest
      - name: Build feature docker tag, using git feature branch
        if: startsWith(github.ref, 'refs/heads/feat/') && github.event_name == 'push'
        run: |
          docker tag $ECR_REPO_URL:${GITHUB_SHA::7} $ECR_REPO_URL:${GITHUB_REF##*/}
      - name: Login to the AWS registry
        if: github.event_name == 'push' || github.event_name == 'pull_request'
        run: |
          aws ecr get-login-password --region $AWS_REGION | docker login --username AWS --password-stdin 189013141504.dkr.ecr.eu-west-2.amazonaws.com
      - name: Push the image to the registry
        if: github.event_name == 'push'
        run: |
          docker push -a $ECR_REPO_URL
      - name: Build and push docker image with PR tag for testing purpose
        if: github.event_name == 'pull_request'
        env:
          PR_NUMBER: ${{ github.event.number }}
        run: |
          docker tag $ECR_REPO_URL:${GITHUB_SHA::7} $ECR_REPO_URL:pr-${PR_NUMBER}
          docker push $ECR_REPO_URL:pr-${PR_NUMBER}