name: Build Lowering Dapp

on:
  workflow_dispatch:
  push:
    branches: [main, feat/*, bug/*]
  pull_request_target:
    types: [opened, synchronize, reopened, ready_for_review, edited]
    branches:
      - main


jobs:
  build-dapp:
    name: Build docker lowering-dapp
    uses: AventusDAO/shared-workflows/.github/workflows/docker-build.yaml@v5.20.0
    with:
      ecr_registry_type: public
      config_creds: false
      aws_region: us-east-1
      aws_account_id: 931945598683
      ecr_repository_name: dapps/lowering
      default_branch: main
      create_pr_dtag: ${{ startsWith(github.ref, 'refs/pull/') }}
      create_latest_dtag: ${{ github.ref == 'refs/heads/main' }}
      create_commit_hash_dtag: true
      create_git_ref_dtag: ${{ startsWith(github.ref, 'refs/tags/') }}
      docker_args_list: VERSION=${{ github.ref_name }}
      checkout_repository: ${{github.event.pull_request.head.repo.full_name}}
      checkout_ref: ${{github.event.pull_request.head.ref}}
    secrets: inherit
